//Font
$font: Rokkit, serif;

//Colors
$br-color:   #727A7D;
$bg-color:   #FFA200;
$tail-color: $bg-color;
$txt-color:  #FFF;

//Border Styles
$br-radius:  .5em;
$br-width:   5px;
$br-style:   solid;

//Bubble Styles
$bubble-width: 17.5em;
